<div class="file-card">
    <div class="graphic-content" [ngStyle]="{'background' : 'url(./assets/1.jpg)', 'background-size': 'cover'}">
        <div class="item-container">
            <div class="info-container">
                <div class="info text">MP4</div>
                <div class="info icon">Star</div>
            </div>
            <div class="overflow">
                <app-context-button icon="dot">
                    <app-context-menu [menuItems]="menuItems"></app-context-menu>
                 </app-context-button>
            </div>
        </div>
    </div>
    <div class="text-content">
        <div class="text-header">
            TVC Raw Uploads
        </div>
        <div class="text-item">
            Share Folder • 12 GB
        </div>
    </div>
</div>